head {
	display: none;
}

pre {
	font-family: consolas;
	white-space: pre;
	margin: 1em 0;
}

hr {
	  margin-top: 0.5em 0px;
	  border-width: 1px;
	  border-color: #000000;
}

a {
	display: inline;
	color: #0000ee;
	text-decoration: underline;
	cursor: pointer;
}

a:visited {
	color: #551a8b;
}

h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h5 {
	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

h6 {
	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

i, cite, em, var {
	font-style: italic;
}

b, strong {
	display: inline;
	font-weight: bold;
}

address {
	display: block;
	font-style: italic;
}

del, strike {
	display: inline;
	text-decoration: line-through;
}

u {
	display: inline;
	text-decoration: underline;
}

code {
	font-family: consolas;
}

center {
	display: block;
	text-align: center;
}

br {
	display: block;
	height: 1em;
}

option {
	display: none;
}

script {
	display: none;
}

style {
	display: none;
}

input {
	display: inline-block;
	height: 1em;
}

span {
	display: inline;
}

select {
	display: inline-block;
}

body {
	margin: 8px;
}
